################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DragAndDrop/obj
/DragAndDrop/bin
/bin
/DragAndDropAIS/obj
/DragAndDropAIS/bin